Repository nebari-dev/big-data-tutorial, pull requests merged in 2023-04, with the labels that each got.

#15 Draft 01-analyze-with-pandas
  .gitignore
  pycon-us-2023/data-of-an-unusual-size-tutorial/00-introduction.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/01-analyze-with-pandas.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/prep/airline_data.py
  pycon-us-2023/data-of-an-unusual-size-tutorial/prep/csv_to_parquet.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/prep/dtypes.json
  pycon-us-2023/data-of-an-unusual-size-tutorial/prep/store_dtypes.ipynb
Labels: event: pycon-us-2023 🎙️

#18 Draft 02-storage-formats
  pycon-us-2023/data-of-an-unusual-size-tutorial/02-storage-formats.ipynb
Labels: event: pycon-us-2023 🎙️

#21 Re-order notebooks
  pycon-us-2023/data-of-an-unusual-size-tutorial/02-intro-to-hvplot.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/03-intro-to-dask.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/04-storage-formats.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/05-big-data-analysis-with-dask.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/06-big-data-visualization.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/07-collaborative-data-science.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/08-conclusion.ipynb
Labels: event: pycon-us-2023 🎙️

#20 Add draft hvplot notebook
  pycon-us-2023/data-of-an-unusual-size-tutorial/02-intro-to-hvplot.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/06-big-data-visualization.ipynb
Labels: event: pycon-us-2023 🎙️

#23 Narration and updates to 00 & 01
  pycon-us-2023/data-of-an-unusual-size-tutorial/00-introduction.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/01-analyze-with-pandas.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/images/banner.png
  pycon-us-2023/data-of-an-unusual-size-tutorial/images/csv-files.png
  pycon-us-2023/data-of-an-unusual-size-tutorial/images/medium-instance.png
  pycon-us-2023/data-of-an-unusual-size-tutorial/images/nebari-quansight.png
  pycon-us-2023/data-of-an-unusual-size-tutorial/images/nebari-register.png
  pycon-us-2023/data-of-an-unusual-size-tutorial/images/start-server.png
Labels: event: pycon-us-2023 🎙️

#19 Outline Dask & storage-format notebooks
  pycon-us-2023/data-of-an-unusual-size-tutorial/01-analyze-with-pandas.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/03-intro-to-dask.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/04-storage-formats.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/05-big-data-analysis-with-dask.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/environment.yml
  pycon-us-2023/data-of-an-unusual-size-tutorial/images/dask-dataframe.svg
  pycon-us-2023/data-of-an-unusual-size-tutorial/images/distributed-overview.png
  pycon-us-2023/data-of-an-unusual-size-tutorial/images/gateway-architecture.svg
  pycon-us-2023/data-of-an-unusual-size-tutorial/mydask.html
  pycon-us-2023/data-of-an-unusual-size-tutorial/mydask.png
Labels: event: pycon-us-2023 🎙️

#24 Remove task graph images
  pycon-us-2023/data-of-an-unusual-size-tutorial/mydask.html
  pycon-us-2023/data-of-an-unusual-size-tutorial/mydask.png
Labels: type: maintenance 🛠, event: pycon-us-2023 🎙️

#25 Update notebooks to read public data
  pycon-us-2023/data-of-an-unusual-size-tutorial/01-analyze-with-pandas.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/02-intro-to-hvplot.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/03-intro-to-dask.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/04-storage-formats.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/05-big-data-analysis-with-dask.ipynb
Labels: event: pycon-us-2023 🎙️

#26 Update Dask intro and storage format notebooks
  pycon-us-2023/data-of-an-unusual-size-tutorial/03-intro-to-dask.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/04-storage-formats.ipynb
Labels: event: pycon-us-2023 🎙️

#30 Add narration to 05-big-data-analysis-with-dask
  pycon-us-2023/data-of-an-unusual-size-tutorial/05-big-data-analysis-with-dask.ipynb
Labels: event: pycon-us-2023 🎙️

#31 Introduction updates
  pycon-us-2023/data-of-an-unusual-size-tutorial/00-introduction.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/images/jitsi-icon.png
  pycon-us-2023/data-of-an-unusual-size-tutorial/images/jitsi-room.png
Labels: event: pycon-us-2023 🎙️

#34 add 06 big data viz
  pycon-us-2023/data-of-an-unusual-size-tutorial/06-big-data-visualization.ipynb
Labels: event: pycon-us-2023 🎙️

#32 Clean up 01, 03
  pycon-us-2023/data-of-an-unusual-size-tutorial/01-analyze-with-pandas.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/03-intro-to-dask.ipynb
Labels: event: pycon-us-2023 🎙️

#33 Clean-up 04 & 05
  pycon-us-2023/data-of-an-unusual-size-tutorial/04-storage-formats.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/05-big-data-analysis-with-dask.ipynb
Labels: event: pycon-us-2023 🎙️

#35 Add new big data dashboard NB
  pycon-us-2023/data-of-an-unusual-size-tutorial/07-big-data-dashboards.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/08-collaborative-data-science.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/09-conclusion.ipynb
Labels: event: pycon-us-2023 🎙️

#22 Draft 08-collaboration and 09-conclusion
  pycon-us-2023/data-of-an-unusual-size-tutorial/08-collaborative-data-science.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/09-conclusion.ipynb
Labels: event: pycon-us-2023 🎙️

#40 Add a new notebook: big-data-application-exercise
  pycon-us-2023/data-of-an-unusual-size-tutorial/08-big-data-application-exercise.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/09-collaborative-data-science.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/10-conclusion.ipynb
Labels: event: pycon-us-2023 🎙️

#43 Add narration to 02-intro-to-hvplot
  pycon-us-2023/data-of-an-unusual-size-tutorial/02-intro-to-hvplot.ipynb
Labels: event: pycon-us-2023 🎙️

#46 Misc clean-up and updates part 3
  pycon-us-2023/data-of-an-unusual-size-tutorial/05-big-data-analysis-with-dask.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/09-collaborative-data-science.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/10-conclusion.ipynb
Labels: event: pycon-us-2023 🎙️

#47 Misc updates and clean-up part 4
  pycon-us-2023/data-of-an-unusual-size-tutorial/00-introduction.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/02-intro-to-hvplot.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/05-big-data-analysis-with-dask.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/06-big-data-visualization.ipynb
  pycon-us-2023/data-of-an-unusual-size-tutorial/07-big-data-dashboards.ipynb
Labels: event: pycon-us-2023 🎙️

#51 Update README.md for PyCon tutorial material
  pycon-us-2023/data-of-an-unusual-size-tutorial/README.md
Labels: type: maintenance 🛠

#50 Update README.md
  README.md
Labels: type: maintenance 🛠

#52 Add slides for maintainer summit talk
  README.md
  pycon-us-2023/community-first-oss/slides.pdf
  pycon-us-2023/data-of-an-unusual-size-tutorial/README.md
Labels: event: pycon-us-2023 🎙️
